name: Publish to PyPI [Test]
on: [push]
jobs:
  test-pypi:
    name: Create patch version number and push to test-pypi
    runs-on: ubuntu-latest
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: "2.2.1"
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      #----------------------------------------------
      #       load cached venv if cache exists
      #----------------------------------------------
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ github.event.repository.name }}-${{ hashFiles('**/poetry.lock') }}
      #----------------------------------------------
      # install dependencies if cache does not exist
      #----------------------------------------------
      - name: Install Kerberos system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libkrb5-dev
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root
      #----------------------------------------------
      # Get the current version and increment it (test-pypi requires a unique version number)
      #----------------------------------------------
      - name: Get next version
        uses: reecetech/version-increment@2022.2.4
        id: version
        with:
          scheme: semver
          increment: patch
      #----------------------------------------------
      # Tell poetry to update the version number
      #----------------------------------------------
      - name: Update pyproject.toml
        run: poetry version ${{ steps.version.outputs.major-version }}.${{ steps.version.outputs.minor-version }}.dev$(date +%s)
      #----------------------------------------------
      # Build the package (before publish action)
      #----------------------------------------------
      - name: Build package
        run: poetry build
      #----------------------------------------------
      # Configure test-pypi repository
      #----------------------------------------------
      - name: Configure test-pypi repository
        run: poetry config repositories.testpypi https://test.pypi.org/legacy/
      #----------------------------------------------
      # Attempt push to test-pypi
      #----------------------------------------------
      - name: Publish to test-pypi
        run: poetry publish --username __token__ --password ${{ secrets.TEST_PYPI_TOKEN }} --repository testpypi
